
<td>

    {% set phone = value %}
    <table class="">
        <tbody>
            <tr>
                <th style="padding-left:2em;border-top:none;">
                    {{ phone.phoneType }}
                </th>
                <td style="border-top:none;">
                    {{ phone.number }}
                </td>
            </tr>
        </tbody>
    </table>

</td>
